name: CI

on:
  push:
  pull_request:

env:
  ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.SONATYPE_USERNAME }}
  ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.SONATYPE_PASSWORD }}
  ORG_GRADLE_PROJECT_signingKey: ${{ secrets.PGP_SECRET }}
  ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.PGP_PASSPHRASE }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Download Java JDK
        uses: typelevel/download-java@v2
        id: download-java
        with:
          distribution: temurin
          java-version: 8

      - name: Setup Java JDK
        uses: actions/setup-java@v3.2.0
        with:
          distribution: jdkfile
          java-version: 8
          jdkFile: ${{ steps.download-java.outputs.jdkFile }}

      - name: Build & Test
        uses: gradle/gradle-build-action@v2.1.5
        with:
          arguments: build --info

      - name: Upload Coverage Report
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Publish Test Results
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: test-results
          path: '**/build/test-results/test/TEST-*.xml'

      - name: Publish To Sonatype
        if: github.event_name != 'pull_request' && (startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/main')
        uses: gradle/gradle-build-action@v2.1.5
        with:
          arguments: publishToSonatype closeAndReleaseSonatypeStagingRepository