name: Update Dependency Graph

on:
  push:
    branches:
      - main

jobs:
  submit:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Download Java JDK
        uses: typelevel/download-java@817e8c0d48dc2e88e155a8e4f69ba493bef621be # v2
        id: download-java
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Java JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: jdkfile
          java-version: 17
          jdkFile: ${{ steps.download-java.outputs.jdkFile }}

      - name: Generate Dependency Graph Snapshot
        uses: gradle/actions/dependency-submission@0723195856401067f7a2779048b490ace7a47d7c # v5
        env:
          DEPENDENCY_GRAPH_INCLUDE_CONFIGURATIONS: 'compileClasspath|runtimeClasspath'
